<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vel deserunt nihil id earum mollitia.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestiae aperiam facilis aliquam sapiente natus impedit qui nisi, provident eligendi.</p>
    <a href="https://google.com" class="btn btn-primary">Juaz</a>
</div>



   